.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: var(--font-mukta);
    font-weight: 400;
    padding: 0 var(--8);
}

.clock {
    border-radius: 4px;
    padding: var(--4) var(--8);
    font-size: var(--16);
    font-weight: 600;
    display: flex;
    gap: var(--8);
    font-family: var(--font-lato);
    align-items: center;
    opacity: 1;
}

.clock-w {
    background-color: #FF414149;
}

.clock-b {
    background-color: #01C1AA5E;
}

.clocknotactive {
    opacity: 0.5;
}
