.bg-white {
    background-color: #D6C5AB;
}

.bg-black {
    background-color: #B0894F42;
}

.sqaure {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    position: relative;
}

.option {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
}

.hit {
    width: 75%;
    height: 75%;
}
