.bg-white {
    background-color: #D6C5AB;
}

.bg-black {
    background-color: #B0894F42;
}

.sqaure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.option {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
}

.temple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.temple-w {
    background-color: #FF414149;
}

.temple-b {
    background-color: #01C1AA5E;
}

.hit {
    width: 75%;
    height: 75%;
    z-index: 10;
}

.selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.15);
}
