.board {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    padding: 2%;
    background-color: #EBD5B4EA;
    border-radius: var(--10);
    opacity: 0.95;
    aspect-ratio: 1/1;
    gap: var(--4);
}
