.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #eee;
    background: linear-gradient(90.84deg, #C00C0CB0 10.73%, #009886B0 100%);
    padding-top: var(--48);
    padding-bottom: var(--48);
}

.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 520px;
    justify-content: center;
    gap: var(--16);
}


.app-title {
    font-family: var(--font-rubik);
    font-size: var(--72);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.app-description {
    font-family: var(--font-rubik);
    text-align: justify;
    font-weight: 300;
    line-height: 1.3;
}

.logo {
    gap: var(--24)
}

.get_started {
    gap: var(--32)
}

.masters {
    display: flex;
    justify-content: center;
}

.left-master {
    margin-right: -80px;
    z-index: 1;
}

.right-master {
    z-index: 2;
}

.left-master > svg, .right-master > svg {
    width: var(--224);
}

@media only screen and (max-width: 768px) {
    .container > div {
        max-width: unset;
        padding: 0 7%;
    }
    
    .app-title {
        font-size: var(--48);
    }

    .app-description {
        font-size: var(--14);
        font-weight: 400;
    }

    .play-btn {
        width: 100%;
    }

    .left-master > svg, .right-master > svg {
        width: var(--176);
    }

    .left-master {
        margin-right: -56px;
    }
}
