.main {
    margin-top: var(--48);
    margin-bottom: var(--48);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: grid;
    grid-template-columns: minmax(100px,1fr) [board] minmax(40vh,70vh) [side] minmax(min-content, 35rem) minmax(100px,1fr);
    gap: var(--32);
    align-items: center;
}

.boardlyt {
    position: relative;
    aspect-ratio: 1/1;
    grid-column: board / side;
}

.cards {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    grid-column: side / span 1;
    height: 100%;
}

.cardsuser {
    display: flex;
    gap: 20px;
}
