.main {
    margin-top: var(--header-height);
    margin-bottom: var(--footer-height);
    flex: 1;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1vw 1fr [main] auto 1fr 1vw
}
