.main {
    margin-top: var(--48);
    margin-bottom: var(--48);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: grid;
    grid-template-columns: minmax(100px,1fr) [board] minmax(40vh,75vh) [side] max-content minmax(100px,1fr);
    grid-template-rows: 75vh;
    gap: var(--16);
    align-items: center;
}

.boardlyt {
    position: relative;
    aspect-ratio: 1/1;
    grid-column: board / side;
}

.side {
    grid-column: side / span 1;
}
.sideoptions {
        display: flex;
        flex-direction: column;
        gap: var(--8);
}

.cards {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    grid-column: side / span 1;
    height: 100%;
}

.cardsuser {
    display: flex;
    gap: 20px;
}
