.container {
    display: flex;
    justify-content: center;
}

.left {
    margin-right: -80px;
    z-index: 1;
}

.right {
    z-index: 2;
}

.left > svg, .right > svg {
    width: var(--224);
}


@media only screen and (max-width: 768px) {
    .left > svg, .right > svg {
        width: var(--176);
    }

    .left {
        margin-right: -56px;
    }
}
