.redtogreen {
  background: linear-gradient(90.84deg, #C00C0CBB -40%, #009886BB 140%);
}

.redtogreen:hover {
  background: linear-gradient(90.84deg, #C00C0CFF -40%, #009886FF 140%);
}

.redtogreen::before {
  background: linear-gradient(90.84deg, #C00C0C55 -40%, #00988655 140%);
}
