:root {
    --header-height: var(--44);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--8) 4%;
    height: var(--header-height);
}

.logo {
    width: var(--80);
}

.hamburger {
    display: none;
    width: var(--24);
}

.hamburger > svg {
        fill: #fff;
}

.navigation {
    display: flex;
    flex: 1;
    justify-content: center;
}

.navigation > ul {
    display: flex;
    gap: var(--28);
}

.item {
    font-family: var(--font-row);
    color: #FFCECE;
    font-size: var(--16);
    line-height: var(--24);
    text-transform: uppercase;
}

.active {
    color: #ffffff
}

.action {
    width: var(--20);
}

.action > svg {
        fill: #ccc
}

.action:hover > svg {
    fill: #fff
}

.links {
    display: none;
}

@media only screen and (max-width: 1024px) {

    .container {
        padding-left: 8%;
        padding-right: 8%;
    }

    .hamburger {
        display: block;
    }

    .logo {
        display: none;
    }
    
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        height: 100%;
        background: #000000CC;
        transform: translateX(-100%);
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        padding: var(--48) var(--24);
    }

    .navigation {
        flex-direction: column;
        justify-content: space-between;
    }
     
    .navigation > ul {
        flex-direction: column;
    }

    .navopen {
        transform: translateX(0)
    }

    .links {
        display: block;
    }
    .link {
        display: flex;
        gap: var(--4);
        color: #ccc;
    }

    .link:hover {
        color: #fff;
        text-decoration: underline;
    }

    .link:hover .icon > svg {
        fill: #fff;
    }

    .icon {
        width: var(--16);
        height: var(--16);
    }

    .icon > svg {
        fill: #ccc
    }
}
