:root {
    --footer-height: var(--24);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    padding: var(--4);
    display: flex;
    justify-content: center;
    gap: var(--8);
    font-family: var(--font-rubik);
    height: var(--footer-height);
}

.footer > small {
    color: #ffffff;
    font-size: var(--12);
    line-height: var(--16);
    text-transform: uppercase;
    letter-spacing: 0.125em;
}

.link {
    display: flex;
    gap: var(--4);
    color: #ccc;
}

.link:hover {
    color: #fff;
    text-decoration: underline;
}

.link:hover .icon > svg {
    fill: #fff;
}

.icon {
    width: var(--16);
    height: var(--16);
}

.icon > svg {
    fill: #ccc
}

@media only screen and (max-width: 1024px) {
    .footer {
        display: none;
    }
}
