.side {
    grid-column: side;
    background: #EBD5B433;
    border-radius: var(--10);
    padding: 7%;
    position: relative;
    min-width: max-content;
}

.sideoptions {
    display: flex;
    flex-direction: column;
    gap: var(--12);
}

.waitforfriend {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: var(--8);
    font-size: var(--14);
    color: #CCCCCC;
    font-weight: 500;
}

.joinfriend {
    display: flex;
    flex-direction: column;
}

.backbtn {
    width: var(--16);
    position: absolute;
    left: 5%;
    top: 5%
}

.backbtn > svg {
    fill: #CCCCCC;
}

.custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custombtn {
    font-size: var(--14);
    font-family: var(--font-rubik);
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--8);
}

.custombtn:hover {
    color: rgba(255, 255, 255, 1);
}

.customicon {
    width: var(--12);
    fill: rgba(255, 255, 255, 0.8);
    transform: rotate(-90deg);
}

.custombtn:hover > .customicon {
    fill: rgba(255, 255, 255, 1);
}

.timecontrol {
    display: flex;
    justify-content: center;
    gap: var(--8);
    padding-top: var(--8);
}

.timecontrolbtn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.timecontrol input[type="radio"] {
  display: none;
}

.timecontrol input[type="radio"]:checked + .timecontrolbtn{
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.numberofcards > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
  transition: background 2.15s ease-in-out;
}

.numberofcards input[type="range"] {
  --webkit-appearance: none;
  width: 100%;
  background: #d3d3d3;
  outline: none;
  border-radius: 5px;
}
.numberofcards input[type="range"]::-webkit-slider-thumb:hover {
  background: #0056b3;
}

.numberofcards output {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

@media only screen and (max-width: 1024px){
    .side {
        padding-top: 15%;
        padding-bottom: 10%;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait){
    .side {
        grid-column: board;
        grid-row: control;
        padding: 7% 4%;
    }
}
