.button {
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  font-size: var(--20);
}

.button::before {
  transform: translate3d(0, 0.2em, -1em);
}

.button:hover {
  transform: translate(0, 0.0em);
}

.button:hover::before {
  transform: translate3d(0, 0.2em, -1em);
}

.button:active {
  transform: translate(0, 0.1em);
}

.button:active::before {
  transform: translate3d(0, 0, -1em);
}

.button:disabled {
  cursor: unset;
}

.button:disabled::before,
.button:disabled:hover{
  transform: unset;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon > svg {
    fill: #fff;
}

.text {
    display: block;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navy {
  background: #00477F;
  color: #ffffff
}

.navy:hover {
  background: #003865;
}

.navy::before {
  background: #001F3F33;
}

.navy:disabled:hover {
  background: #00477F;
}


@media screen and (max-width: 1024px) {
  .button {
      font-size: calc(var(--side-width) * 0.01 + 12px);
  }
}

@media screen and (max-width: 768px) and (orientation: portrait){
  .button {
    font-size: var(--20);
  }
}
