.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: var(--8);
    font-size: var(--14);
    color: #EEEEEE;
    font-weight: 500;
}

.back-btn {
    width: var(--16);
    position: absolute;
    left: 5%;
    top: 5%
}

.back-btn > svg {
    fill: #CCCCCC;
}

