.button {
    font-family: var(--font-marker);
    border-radius: var(--32);
    border-width: 4px;
    border-style: solid;
    padding: var(--8) var(--28);
    font-size: var(--36);
    line-height: var(--40);
    text-transform: uppercase;
}

.green {
    background-color: #03c9b2d3;
    border-color: #009886;
    color: #f3f3f3; 
}

.red {
    background-color: #FFCECE;
    border-color: #FF6565;
    color: #FF6565
}

