.container {
    position: relative;
    background-color: #fff;
    max-width: 72rem;
    width: 100%;
    min-width: 40rem;
    border-radius: var(--8);
    padding: var(--60) var(--28) var(--20);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--12);
    font-family: var(--font-rubik);
}

.title {
    color: #55311c;
    margin-bottom: var(--16);
    width: 100%;
}

.title > h2 {
    font-size: var(--32);
    font-weight: 500;
    margin-bottom: var(--2);
}

.switch {
    font-size: var(--14);
    font-family: inherit;
    color: #000000AA;
}

.switch > u {
    color: #8c7569;
}

.message {
    background-color: #B22222;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding: var(--12);
    border-radius: var(--4);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--12);
    align-items: center;
}

.fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--24);
    margin-bottom: var(--12);
}

.close {
    position: absolute;
    top: var(--20);
    right: var(--20);
    width: var(--24);
    height: var(--24);
}

.join {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join > small {
    font-family: var(--font-marker) ;
    font-size: var(--12);
}

@media only screen and (max-width: 768px){
    .container {
        max-width: unset;
        min-width: unset;
        height: 100%;
        overflow: scroll;
        padding-left: 4%;
        padding-right: 4%;
        gap: var(--4);
    }
}
