.button {
    border: none;
    outline: none;
    color: #757575;
}

.loading {
    padding: var(--8) var(--8);
}

.loading .text {
    margin-left: 0;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.text {
    display: inline-block;
    margin-left: var(--8);
    vertical-align: middle;
    font-family: var(--font-mukta);
    font-size: inherit;
    font-weight: 500;
}
