.container {
    width: 100%;
    font-family: var(--font-rubik);
    position: relative;
}

.field {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 16px 3%;
    padding-bottom: 8px;
    font-size: var(--16);
    background: #fff;
    position: relative;
    display: block;
    z-index: 1;
}

.field > input {
    border: none;
    background: transparent;
    width: 100%;
    font-size: 16px;
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-3%,-50%);
    color: #9A9A9A;
    text-transform: capitalize;
    transition: all 0.2s;
}

.field:focus-within .placeholder,
input:valid ~ .placeholder {
    top: 5%;
    left: 3%;
    font-size: 12px;
    color: #1e4bd1;
    font-family: var(--font-rubik);
    transform: translate(0%,0);
}

.helper {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1%;
    font-size: 14px;
    display: block;
    z-index: 0;
    transition: all 0.1s;
    transform: translateY(0);
    color: red;
    font-family: var(--font-lato);
    visibility: hidden;
}

.error .helper {
    transform: translateY(100%);
    visibility: visible;
}

.error .placeholder {
    color: red !important
}
