.container {
    width: 100%;
    font-family: var(--font-rubik);
    position: relative;
}

.field {
    border: 1px solid #ddd;
    border-radius: var(--4);
    padding: var(--20) 2%;
    padding-bottom: var(--8);
    font-size: var(--16);
    background: #fff;
    position: relative;
    display: block;
    z-index: 1;
}

.field > input {
    border: none;
    background: transparent;
    width: 100%;
    font-size: var(--14);
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(-2%,-50%);
    color: #9A9A9A;
    transition: all 0.2s;
    font-size: var(--14);
    text-transform: uppercase;
    font-weight: 500;
}

.field:focus-within .placeholder,
input:valid ~ .placeholder {
    top: 5%;
    left: 2%;
    font-size: var(--12);
    color: #8c7569;
    transform: translate(0%,0);
}

.helper {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1%;
    font-size: var(--14);
    display: block;
    z-index: 0;
    transition: all 0.1s;
    transform: translateY(0);
    color: #b50706;
    font-family: var(--font-lato);
    visibility: hidden;
}

.error .helper, .success .helper {
    transform: translateY(100%);
    visibility: visible;
}
.success .helper {
    color: rgb(0, 128, 0);
}

.error .placeholder {
    color: #b50706 !important;
    font-weight: 600;
}

.success .placeholder {
    color: rgb(0,128, 0) !important;
}
