.boardlyt {
    position: relative;
    aspect-ratio: 1/1;
    grid-column: board / side;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-column: side / span 1;
    row-gap: 3%;
    height: 100%;
}

.cardsuser {
    display: flex;
    gap: 20px;
}
