:root {
    --player-info-height: var(--28);
    --min-sidebar: 35rem;
    --max-sidebar: 45rem;
    --board-width: min(calc(100vw - var(--min-sidebar) - 4vmin - 2rem),calc(100vh - calc(var(--header-height) * 1) - calc(var(--footer-height) * 1) - calc(var(--player-info-height) * 2) - 1rem));
    --side-width: min(calc(100vw - var(--board-width) - 4vmin - 2rem),var(--max-sidebar));
}

.game {
    display: grid;
    grid-template-columns: [board] minmax(min-content, var(--board-width)) [side] minmax(min-content,var(--side-width));
    grid-template-rows: [main] min-content [control] min-content;
    column-gap: 2vmin;
    align-items: center;
    grid-column: main;
}

.boardlyt {
    position: relative;
    grid-column: board;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    grid-column: side;
    align-self: stretch;
    padding-top: var(--player-info-height);
    padding-bottom: var(--player-info-height);
    grid-row: main;
}

.cards > div {
    display: flex;
    gap: var(--4);
}

.cardmobile {
    display: none;
}

.control {
    display: flex;
    gap: var(--8);
    padding-top: var(--4);
    padding-bottom: var(--4);
    background-color: #00000022;
    justify-content: center;
    grid-column: board;
    grid-row: control;
}

.control > button {
    border-radius: 8px;
    padding: var(--8);

}

.control > button:hover {
    background-color: #00000099;
}

.control > button > svg {
    width: var(--20);
    height: var(--20);
    fill: #ccc;
}

.control > button:hover > svg {
    fill: #fff;
}

@media only screen and (max-width: 1024px) {
    :root {
        --min-sidebar: 15rem;
        --max-sidebar: min(calc(var(--board-width) - calc(var(--player-info-height) * 2)),20rem); 
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait){
    .game {
        grid-template-columns: minmax(0.8rem, 1fr) [board] minmax(min-content,var(--board-width)) [side] min-content minmax(0.8rem,1fr);
        grid-template-rows: [opp-cards] minmax(10rem, max-content) [board] 1fr [self-cards] minmax(4rem, max-content) [control] min-content;
        gap: var(--4);
    }

    .cardmobile {
        display: block;
        grid-column: board;
    }

    .cardmobile:first-child{
        grid-row: opp-cards;
    }

    .cardmobile:last-child{
        grid-row: self-cards;
    }

    .cards {
        display: none;
    }
    
    .control {
        margin-top: var(--16);
        grid-row: control;
    }
}
